[submodule "python-flint"]
	path = python-flint
	url = https://github.com/python-flint/python-flint.git
[submodule "multibuild"]
	path = multibuild
	url = https://github.com/matthew-brett/multibuild.git
